<h3 class="text-center" style="margin-bottom: 20px; "> La planing  Salle</h3>
<table class="table table-hover text-center">
    <thead class="thead-primary">
        <tr>
            <th>Nom de la Salle</th>
            <th>Date</th>
            <th>Creneau horaire</th>
        </tr>
    </thead>
    <tbody>
        {{#each blocs}}
        <tr>
            <td>{{this.namesalle}}</td>
            <td>{{this.date}}</td>
            <td>{{this.crenauhr}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<div id="qrcode"></div>
<script type="text/javascript">
var pathArray = window.location.pathname.split('/');

 var youssef=pathArray[3]+" "+pathArray[4]
new QRCode(document.getElementById("qrcode"), youssef);
</script>